html{

    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.imgone{
    position: absolute;
    top: -70vw;
    left: -50vw;
    width: 100vw;
    z-index: -1;
}
.imgtwo{
    position: absolute;
    bottom: -50vw;
    right: -20vw;
    width: 70vw;
    z-index: -1;
}
.background{
    background-color: white;
    z-index: 2;
    align-content: center;
    box-shadow: 0px 10px  20px  rgba(0,0,0,0.12);
    border-radius: 16px;
    margin-top: 18vh;
    
}

.top img{
    border-radius: 16px 16px 0 0;
}
.middle  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 70px;
}
p{
    text-align: center;
}

li{
    list-style: none;
    text-decoration: none;
    display: inline-block; 
    padding: 0;
    margin: 0;
}

li h1{
    padding: 0;
    margin: 0;
}

li p{
    padding: 0;
    margin: 0;
}
ul li{
   padding-left: 15px;
   padding-right: 15px;
   margin-bottom: 0px;
}

ul, ol {
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.top{
    position: relative;
}

.top .profile{
    position: absolute;
    bottom: -50%;
    border: 10px solid white;
    width: 40%;
    height: auto;
    left: 30%;
    border-radius: 50%;
    object-fit: cover;
}

h2, h1{
    color:hsla(227, 10%, 46% ,0.5);
}

